<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hubungi kami</h1>
    <p>Nama</p>
    <input type="text" name="name" id="nama">
    <p>Email</p>
    <input type="email" name="name" id="email">
    <p>Pesan</p>
    <input type="text" name="name" id="pesan"><br>

    <button type="button">Kirim</button>
</body>
</html>